<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"><title>Homepage</title></head>

<body>
<div th:replace="common/header :: navbar"></div>
<div class="container">
    <h1>Home automation</h1>

    <div class="row">


<!--        <div class="form-group row">-->
<!--            <label for="regulatorParam" class="col-sm-4 col-form-label">Regulator</label>-->
<!--            <div class="col-sm-2">-->
<!--                <input path="regulatorParam" type="range" class="custom-range" th:value="${currentRegulatorValue}"-->
<!--                       id="regulatorParam" min="0" max="100"/>-->
<!--            </div>-->
<!--        </div>-->
<!--        <input type="text" id="sp1" />-->



        <div class="form-group row">
            <label for="regulatorParam1" class="col-sm-4 col-form-label">Regulator 1-2</label>
            <div class="col-sm-2">
                <input path="regulatorParam" type="range" class="custom-range" value="10"
                       id="regulatorParam1" min="0" max="100"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="regulatorParam3" class="col-sm-4 col-form-label">Regulator 3-4</label>
            <div class="col-sm-2">
                <input path="regulatorParam5" type="range" class="custom-range" value="10"
                       id="regulatorParam3" min="0" max="100"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="regulatorParam5" class="col-sm-4 col-form-label">Regulator 5-6</label>
            <div class="col-sm-2">
                <input path="regulatorParam5" type="range" class="custom-range" value="10"
                       id="regulatorParam5" min="0" max="100"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="regulatorParam7" class="col-sm-4 col-form-label">Regulator 7-8</label>
            <div class="col-sm-2">
                <input path="regulatorParam7" type="range" class="custom-range" value="10"
                       id="regulatorParam7" min="0" max="100"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="regulatorParam9" class="col-sm-4 col-form-label">Regulator 9-10</label>
            <div class="col-sm-2">
                <input path="regulatorParam9" type="range" class="custom-range" value="10"
                       id="regulatorParam9" min="0" max="100"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="regulatorParam11" class="col-sm-4 col-form-label">Regulator 11-12</label>
            <div class="col-sm-2">
                <input path="regulatorParam11" type="range" class="custom-range" value="10"
                       id="regulatorParam11" min="0" max="100"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="regulatorParam13" class="col-sm-4 col-form-label">Regulator 13-14</label>
            <div class="col-sm-2">
                <input path="regulatorParam13" type="range" class="custom-range" value="10"
                       id="regulatorParam13" min="0" max="100"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="regulatorParam15" class="col-sm-4 col-form-label">Regulator 15-16</label>
            <div class="col-sm-2">
                <input path="regulatorParam15" type="range" class="custom-range" value="10"
                       id="regulatorParam15" min="0" max="100"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="regulatorParam17" class="col-sm-4 col-form-label">Regulator 17-18</label>
            <div class="col-sm-2">
                <input path="regulatorParam17" type="range" class="custom-range" value="10"
                       id="regulatorParam17" min="0" max="100"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="regulatorParam19" class="col-sm-4 col-form-label">Regulator 19-20</label>
            <div class="col-sm-2">
                <input path="regulatorParam19" type="range" class="custom-range" value="10"
                       id="regulatorParam19" min="0" max="100"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="regulatorParam21" class="col-sm-4 col-form-label">Regulator 21-22</label>
            <div class="col-sm-2">
                <input path="regulatorParam21" type="range" class="custom-range" value="10"
                       id="regulatorParam21" min="0" max="100"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="regulatorParam23" class="col-sm-4 col-form-label">Regulator 23-24</label>
            <div class="col-sm-2">
                <input path="regulatorParam23" type="range" class="custom-range" value="10"
                       id="regulatorParam23" min="0" max="100"/>
            </div>
        </div>






    </div>
</div>

<!--<div th:replace="common/header :: footer"/>-->
<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>

