<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">

    <title>Temp</title>

</head>
<body onload="connect()" onunload="disconnect()">
<div id="main-page" class="container">
    <div class="row">
    	<div class="col-md-12">
            <h1>Football Live Commentary Stream</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="commentary" class="table table-striped">
                <thead>
                <tr>
                    <th>Live commentary</th>
                </tr>
                </thead>
                <tbody id="comment">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
