<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">

    <title>Temp</title>

</head>

<!--<body>-->
<!--<div th:replace="common/header :: navbar"></div>-->
<!--<div th:replace="common/header :: body-bottom-scripts"></div>-->
<!--</body>-->
<body>
<div th:replace="common/header :: custom-scripts"></div>
<div class="alert alert-danger" role="alert" style="width:300px;margin-left:40%;margin-top:10px;">
    <p class="text-center">Current Temperature : <b id="temperature">0</b></p>
</div>
<div class="model">
    <div class="modal-dialog" style="width:80%;height:auto">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Temperature</h5>
            </div>
            <div class="model-body">
                <div class="container" style="width:80%">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>